.field {
    height: 75px;
    position: relative;
    width: 75px;
    overflow: hidden;
}

.field .cord {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.field.more {
    cursor: pointer;
}

.field.more:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 7px 0px #abffb6;
    background: transparent;
}

.field.card img {
    width: 100%;
    height: 100%;
}

.my-field {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.my-field span {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #fff;
}

.my-field .top {
    left: 50%;
    top: 19%;
}
.my-field .right {
    left: 81%;
    top: 50%;
}
.my-field .bottom {
    left: 50%;
    top: 81%;
}
.my-field .left {
    left: 19%;
    top: 50%;
}
.my-field .center {
    left: 50%;
    top: 50%;
}

.field.top:after,
.field.right:after,
.field.bottom:after,
.field.left:after,
.field.center:after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.field.top:after {
    left: 50%;
    top: 19%;
}

.field.right:after {
    left: 81%;
    top: 50%;
}

.field.bottom:after {
    left: 50%;
    top: 81%;
}
.field.left:after {
    left: 19%;
    top: 50%;
}

.field.center:after {
    left: 50%;
    top: 50%;
}

.field.blue:after {
    background: blue;
}
.field.red:after {
    background: red;
}
